
# Compiled class file
*.class

# idea 配置忽略各个模块编译后的文件夹
.idea
/*/target
/*/*.iws
/*/*.ipr
/*/*.iml
/*/catalina.*/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.iml


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.iml~upstream_master
